
* {
    padding: 0;
    margin: 0
}

body{
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-color: aqua;
}

@font-face{
    font-family: 'tres';
    src:url('font/3x3_font_for_nerds.ttf');
}